.TeamLeaderAcceptDesc {
    border: none;
    background-color: blue;
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
}
.TeamLeaderAcceptDesc:hover {
    cursor: pointer;
    background-color: darkgray;
    color: blue;
}

.comment_div_box {
    margin-top: 20px;
}
.comment_textarea_box {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-weight: bolder;
    border: 3px solid black;
    margin-top: 10px;
}

.TeamLeaderCommentWrite {
    width: 200px;
    border: none;
    background-color: orange;
    height: 30px;
    border-radius: 5px;
    font-size: large;
    color: white;
    font-weight: bolder;
}
.TeamLeaderCommentWrite:hover {
    cursor: pointer;
    background-color: #efefef;
    color: orange;
}
.AcceptOkayDiv {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    font-size: large;
    font-weight: bolder;
}
.AcceptOkayDiv:hover {
    color: blue !important;
    cursor: pointer;
}
