.TeamLeaderFloat_box_div {
  display: block;
  clear: both;
  content: "";
}
.TeamLeaderBefore_left {
  float: left;
  width: 50%;
}
.TeamLeaderBefore_right {
  float: right;
  width: 50%;
}
.TeamLeader_before_OT_WorkSpace_click_td:hover {
  cursor: pointer;
  color: blue;
}
