.TeleWorking_big_box_div {
    width: 90%;
    margin: 0 auto;
}

.subBox {
    width: 90%;
    height: 35vh;
    margin: 0 auto;
}
.mainBox {
    width: 90%;
    height: 55vh;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
}

.mainBox_ulup > ul {
    position: relative;
    width: 90%;
    height: 100%;
}
.mainBox_ulup > ul > li {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: goldenrod;
    color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    font-size: xxx-large;
    font-weight: bolder;
    line-height: 6;
}
.mainBox_ulup > ul > li:hover {
    cursor: pointer;
}
.showbox {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
.noneshowbox {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.mainBox_ulup {
    width: 50%;
    height: 50%;
    border: 5px solid white;
}
.mainBox > li {
    width: 50%;
    height: 50%;
    border: 1px solid white;
}

.nothing {
    width: 50%;
    height: 50%;
    background-color: goldenrod;
    font-size: xxx-large;
    font-weight: bolder;
    color: white;
    line-height: 6;
}
.nothing:hover {
    cursor: pointer;
}

.Tele_Float_box::after {
    clear: both;
    content: '';
    display: block;
}
.Tele_Float_Left_box {
    float: left;
    width: 50%;
    padding: 40px;
    padding-left: 10px;
    height: 80vh;
    border-right: 1px dashed black;
    min-width: 300px;
}
.Tele_Float_Right_box {
    float: right;
    width: 50%;
    padding: 40px;
    padding-left: 100px;
    min-width: 300px;
}
.Tele_Float_Right_box_inputBox {
    width: 100%;
    height: 40vh;
    padding: 20px;
    border: none;
    border: 3px solid darkgray;
    border-radius: 10px;
}
.Tele_Float_Right_box_inputBox:focus {
    border: 3px solid #b792db;
    outline: none;
}
.Tele_Start_Float_box::after {
    clear: both;
    content: '';
    display: block;
}
.Tele_Start_Float_Left_box {
    width: 48%;
    float: left;
    border-bottom: 4px solid #b792db;
    text-align: center;
    border-radius: 10px;
}
.Tele_Start_Float_Left_box > h2 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 40px;
}
.Tele_Start_Float_Left_box > h3 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
.Tele_Start_Float_Right_box {
    width: 48%;
    float: right;
    border-bottom: 4px solid #b792db;
    text-align: center;
    border-radius: 10px;
}
.Tele_Start_Float_Right_box > h2 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 40px;
}
.Tele_Start_Float_Right_box > h3 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
.Tele_Start_Button_div {
    width: 100%;
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
    border: 4px solid #6927aa;
    font-weight: bolder;
    border-radius: 12px;
}
.Tele_Start_Button_div:hover {
    cursor: pointer;
    border: 4px solid #3174ad;
    transition: 0.5s ease-in;
}
.Tele_Float_Right_box_button_store {
    width: 150px;
    height: 50px;
    border: none;
    font-size: large;
    background-color: #3174ad;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 30px;
}
.Tele_Float_Right_box_button_store:hover {
    cursor: pointer;
    color: #3174ad;
    background-color: #efefef;
    transition: 0.3s ease-in;
}
.Tele_Start_Button_div div {
    padding-top: 10px;
    padding-bottom: 10px;
}
