.Nav_firstbox {
    width: 15%;
    position: fixed;
    border-right: 3px solid gray;
    height: 100vh;
    background-color: white;
}
.MainBody_box {
    float: right;
    width: 95%;
}
.nav-links {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 40vh;
    justify-content: space-around;
}

.link {
    font-size: 1.2em;
    color: black;
}
.link:hover {
    color: blue;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}

.MenuDisblock {
    transform: translateY(0%);
    transition: 0.5s ease-in-out;
}

.menubar {
    display: block;
    height: 10vh;
    max-height: 70px;
    background-color: #f9b55c;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}
.MainTitles > h1 {
    margin-top: 12px;
}
.MainTitles {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
}

.menubar span {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 60px;
    top: 20px;
}

#hambmenu {
    position: relative;
    width: 40px;
    height: 45px;
    float: left;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;
}

.hambclicker {
    content: '';
    height: 48px;
    width: 55px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 9;
}

#hambmenu span:nth-child(1) {
    top: 0px;
}

#hambmenu span:nth-child(2),
#hambmenu span:nth-child(3) {
    top: 10px;
}

#hambmenu span:nth-child(4) {
    top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
    transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
    transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#menu {
    position: absolute;
    height: calc(100vh - 70px);
    width: 210px;

    background: #f9b55c;
    box-shadow: 2px 1px 1px 1px lightgrey;

    transform: translateX(-100%);
    transition: transform 300ms;
    z-index: 10;
    overflow: auto;
}

#menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
}
#menu > div > h5 {
    padding: 10px 0 10px 10px;
}
#menu > div > h5:hover {
    cursor: pointer;
}
#menu li {
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.fa {
    color: black;
    padding-right: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
a:visited {
    color: black;
}
a > li:hover {
    background-color: white;
    color: orange;
    font-weight: bolder;
}

#menu.isopen {
    transform: none;
}

/* @media screen and (max-width: 420px) {
    .menubar span {
        font-size: 1.2em;
    }
} */

a:hover {
    cursor: pointer;
    color: blue;
}
.nav_handleClicks_arrow {
    margin-left: 10px;
    width: 15px;
    height: 10px;
    transition: 0.5s;
}
.nav_hadleClicks_flases {
    transition: 0.5s;
    transform: rotate(180deg);
}

#menu::-webkit-scrollbar {
    width: 10px;
}
#menu::-webkit-scrollbar-thumb {
    background-color: #ff800a;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#menu::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #efefef;
}

.slideDown {
    animation-name: slideDowns;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDowns {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.Navigation_Info_div {
    text-align: end;
    margin-right: 100px;
    font-weight: bolder;
}
.Navigation_title_text_css {
    font-size: 1.1em !important;
    font-weight: border !important;
}
@media screen and (max-width: 1400px) {
    .Navigation_title_text_css {
        font-size: 0.8em !important;
        font-weight: border !important;
    }
    .Navigation_Info_div {
        font-size: 0.8em !important;
    }
    .control > span {
        font-size: 0.8em !important;
    }
    .control > button {
        font-size: 0.8em !important;
    }
    .Telecommutign_checkbox_div {
        top: 6px !important;
    }
    .Telecommutign_checkbox_div > ul {
        font-size: 0.2em !important;
    }
    table {
        font-size: 0.8em !important;
    }
    thead {
        font-size: 0.8em !important;
    }

    #menu li {
        padding: 5px 0 10px 30px;
        font-size: 0.8em;
    }
    #toast-container-main {
        font-size: 0.8em;
    }
    .OTSpace_OTReason_th {
        width: 400px !important;
    }
    .DISCO_PC_mealSet {
        font-size: 0.4em !important;
    }
    .TeamLeader_Tele_input {
        font-size: 0.4em !important;
        height: 15px !important;
        border: none;
        padding: 5px !important;
    }
    .TeamLeader_Telecommuting_SearchedNames {
        font-size: 0.4em !important;
        height: 20px !important;
    }
}
