.formCenter {
    margin-bottom: 100px;
}

.formTitle {
    color: #707c8b;
    font-weight: 300;
    margin-bottom: 50px;
}

.formTitleLink {
    color: #707c8b;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.formTitleLink:first-child {
    margin-left: 0;
}

.formField {
    margin-bottom: 40px;
    font-size: 20px;
    margin-top: 50px;
}

.formFieldLabel {
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.formFieldInput {
    width: 85%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.formFieldInput::placeholder {
    color: #616e7f;
}

.formFieldButton {
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 1em;
    font-weight: bolder;
}
.formFieldButton:hover {
    cursor: pointer;
}

.formFieldLink {
    color: #66707d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #6b5b95;
    padding-bottom: 5px;
}

.formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
}

.formFieldCheckbox {
    position: relative;
    top: 1.5px;
}

.formFieldTermsLink {
    color: black;
    border-bottom: 1px solid #6b5b95;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}

.socialMediaButtons {
    padding: 10px 100px 10px 0px;
}

.appAside {
    width: 50%;
    background-color: lightgray;
    height: 100vh;
    float: left;
    filter: drop-shadow(2px 4px 6px black);
}

.appForm {
    width: 50%;
    background-color: lightgray;
    padding: 25px 40px;
    overflow: auto;
    height: 100vh;
    float: right;
    filter: drop-shadow(2px 4px 6px black);
}

.formCenter h1 {
    color: black;
    font-size: 3rem;
}
.logo_center {
    height: 100%;
    padding-top: 20%;
    text-align: center;
}
